body{
    background-color: #F6F6F6;
    font-family: Gilroy;

  }

  .home{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
  }

  .home-links{
    padding-top: 33px;
    display: flex;
    justify-content: center;
  }

  .about{
    height: 506px;
    display: flex;
    justify-content: center;
  }

  .about-content{
    display: flex;
    justify-content: center;
  }


  .about-text{
    padding-top: 181;
    text-align: center;
  }
  .about-text p{
    padding-top: 36;
  }

  .skills{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
  }

  .portfolio{
    display: flex;
    justify-content: center;
  }

  .contacts{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
  }